<div class="container">
    <div class="contenedores contenedor-estados">
        <h3>ESTADOS</h3>
        <div class="estados">
            <div class="titulos-estado">
                <label for="">TRS</label>
                <label for="">O2</label>
                <label for="">SO2</label>
                <label for="">CO2</label>
                <label for="">MP</label>
            </div>
            <div class="contenedor-columnas-estados">
                <div id="rombo">
                    <div class="contenido">
                      <div class="texto">1 </div>
                    </div>
                  </div>
                <div class="borde">
                    <div class="cuadro-estados">
                        <label class="cuadros" for="">MANTENIMIENTO</label>
                        <label class="cuadros" for="">PURGA</label>
                        <label class="cuadros" for="">NORMAL</label>
                        <label class="cuadros" for="">NORMAL</label>
                        <label class="cuadros" for="">NORMAL</label>
                        
                    </div>
                    
                </div>
                <label class="label-cems-estados" for="">Biomasa 3</label>

            </div>
            <div class="contenedor-columnas-estados">
                <div id="rombo">
                    <div class="contenido">
                      <div class="texto">1 </div>
                    </div>
                  </div>
                <div class="borde">
                    <div class="cuadro-estados">
                        <label class="cuadros" for="">NORMAL</label>
                        <label class="cuadros" for="">INVALIDO</label>
                        <label class="cuadros" for="">NORMAL</label>
                        <label class="cuadros" for="">NORMAL</label>
                        <label class="cuadros" for="">NORMAL</label>
                    </div>
                    
                </div>
                
                <label class="label-cems-estados" for="">Recuperadora 6</label>
            </div>

            <div class="contenedor-columnas-estados">
                <div id="rombo">
                    <div class="contenido">
                      <div class="texto">1 </div>
                    </div>
                  </div>
                <div class="borde">
                    <div class="cuadro-estados">
                        <label class="cuadros" for="">NORMAL</label>
                        <label class="cuadros" for="">NORMAL</label>
                        <label class="cuadros" for="">NORMAL</label>
                        <label class="cuadros" for="">FALLA</label>
                        <label class="cuadros" for="">NORMAL</label>
                    </div>
                    
                </div>
                <label class="label-cems-estados" for="">Horno de Cal</label>

            </div>

        </div>
    </div>
    <div class="contenedores contenedor-casetas">Casetas Component</div>
    <div class="contenedores contenedor-datos">Datos Component</div>
    <div class="contenedores contenedor-mantenciones">Mantenciones Component</div>
    <div class="contenedores contenedor-cilindros">Cilindros Component</div>
    <div class="contenedores contenedor-validaciones-stock">Validaciones Component</div>
</div>